@import play.data.Form
@import modelDB.Student
@(students: List[modelDB.Student], form: Form[Student])

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo CRUD</title>
</head>
<body>
  <h2>List student</h2>
  <div>
    <table style="border: 1px solid black">
        <thead>
            <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Update</th>
                  <th>Delete</th>
            </tr>
        </thead>
        <tbody>
              @for(student <- students){
                  <form action="@routes.StudentController.updateStudent()" method="post">
                  <tr>
                      <td><input name="studentId" value="@student.getStudentId" /> </td>
                      <td><input name="name" type="text" value="@student.getName" /></td>
                      <td><input name="phone" type="text" value="@student.getPhone" /></td>
                      <td><input id="submit" name="submit" type="submit" value="Update"></td>
                      <td><input id="submit" name="submit" type="submit" value="Delete"></td>
                  </tr>
                  </form>
              }
        </tbody>
    </table>
  </div>
  <div>
      @*<form action="@routes.StudentController.createStudent()" method="post">*@
        @*<label for="name">Name: </label>*@
        @*<input type="text" name="name" value="@form("name").value()" />*@
        @*<label for="phone">Phone: </label>*@
        @*<input type="text" name="phone" value="@form("phone").value()" />*@
        @*<input type="submit" name="submit" value="Create" />*@
      @*</form>*@
  </div>
</body>
</html>