@import models.Major
@(majors: java.util.List[Major])

@script = {
    <script type="text/javascript" src="@routes.Assets.versioned("resources/js/major_list.js")"></script>
}

@main("Major", script) {
    <h1>List of Majors</h1>
    <div class="row">
        <form class="navbar-form navbar-left" id="search_major_form">
            <div class="form-group">
                <input class="form-control" placeholder="Search" name="search_major" id="search_major_value">
            </div>
            <input type="submit" class="btn btn-info" value="Search" />
        </form>
    </div>
    <table class="table table-striped" id="major_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody id="major_table_body">
        @for(major <- majors) {
            <tr>
                <td>@major.getId</td>
                <td>@major.getName</td>
            </tr>
        }
        </tbody>
    </table>
}
