@(products: java.util.List[Product])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Products List</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @for(product <- products) {
                    <tr>
                        <td>@product.getId</td>
                        <td>@product.getName</td>
                        <td>@product.getPrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>