@import model.Product
@(form: play.data.Form[Product])

@main("Create") {
    <h1>Create New Product</h1>
    @helper.form(action = routes.ProductController.store()) {
        <div class="form-group">
            @helper.inputText(form("id"), '_label -> "ID", 'class -> "form-control", '_showConstraints -> false)
        </div>
        <div class="form-group">
        @helper.inputText(form("name"), '_label -> "Name", 'class -> "form-control", '_showConstraints -> false)
        </div>
        <div class="form-group">
        @helper.inputText(form("price"), '_label -> "Price", 'class -> "form-control", '_showConstraints -> false)
        </div>
        <button class="btn btn-success">
            Add Product
        </button>
    }
}