@import model.Product
@(form: play.data.Form[Product])

@main("Edit") {
    <h1>Edit Product</h1>
    @helper.form(action = routes.ProductController.update()) {
        <div class="form-group">
        @helper.inputText(form("name"), '_label -> "Name", 'class -> "form-control", '_showConstraints -> false)
        </div>
        <div class="form-group">
        @helper.inputText(form("price"), '_label -> "Price", 'class -> "form-control", '_showConstraints -> false)
        </div>
        <input type="hidden" name="id" value="@(form("id").value())">
        <button class="btn btn-success">
            Edit Product
        </button>
    }
}