@import model.Product
@(products: java.util.List[Product])

@main("Products") {
    <h1>List of Products</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
        @for(product <- products) {
            <tr>
                <td>@product.getId</td>
                <td>@product.getName</td>
                <td>@("%.2f".format(product.getPrice)) VND</td>
                <td><a href="/products/edit/@product.getId">Edit</a></td>
                <td>
                @helper.form(action = routes.ProductController.delete(product.getId)) {
                    <button class="btn btn-danger">
                        Delete
                    </button>
                }
                </td>
            </tr>
        }
        </tbody>
    </table>
    @helper.form(action = routes.ProductController.create()) {
        <button class="btn btn-primary">
            Add new Product
        </button>
    }
}